<div>
    <div class="col-3 pull-left text-center" style="border-right: 1px solid lightgray;"><img src="{{ asset('assets/institucional/sitec-logo-horizontal.jpg') }}" height="60px"> </div>
    <div class="col-6 pull-left">
        <div style="padding: 1rem 1rem; text-transform: uppercase; font-weight: bold;">asdsa</div>
    </div>
    <div class="col-3 pull-right" style="border-left: 1px solid lightgray;">
        <div style="padding: 1rem 1rem; text-transform: uppercase; font-weight: bold;">OT20200202001</div>
    </div>
</div>