{% if new_link is defined %}<a class="btn btn-primary float-right btn-load" href="{{ new_link }}"><span class="glyphicon glyphicon-plus"></span></a>{% endif %}
{% if print_link is defined %}<a class="btn btn-primary float-right btn-load" href="{{ print_link }}"><span class="glyphicon glyphicon-print"></span></a>{% endif %}
{% if export_link is defined %}<a class="btn btn-primary float-right btn-load" href="{{ export_link }}"><span class="glyphicon glyphicon-export"></span></a>{% endif %}
{% if import_link is defined %}<a class="btn btn-primary float-right btn-load" href="{{ import_link }}"><span class="glyphicon glyphicon-import"></span></a>{% endif %}