<div class="modal fade" id="multiple-delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirmar eliminar</h4>
            </div>
            <div class="modal-body">
                Está a punto de eliminar varios elementos. Tenga en cuenta que esta acción no se puede deshacer. Si está seguro presione <span class="bold alert-danger">"Confirmar"</span>.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-danger pull-right" type="submit"><span class="glyphicon glyphicon-trash"></span> Eliminar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->