<div id="previewModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="max-width: 1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4" id="myLargeModalLabel">Vista de impresión</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                {{ content | raw }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary waves-effect waves-light" data-dismiss="modal">Cerrar</button>
                {% if print is defined and print != '#' %}
                    <a type="button" class="btn btn-sm btn-primary waves-effect waves-light" href="{{ print }}">Imprimir</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>