<ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
    <li class="nav-item pl-2" role="presentation">            <form method="post" action="{{ path('comprobante_operacion_filtrar_fechas') }}">
            <div class="form-inline">
                <div class="md-form" style="margin: 0;">
                    <input class="mr-2 form-control form-control-sm pull-left datepicker" name="fecha" placeholder="Fecha">
                </div>
                <button id="find-date" class="btn btn-primary btn-sm pull-left form-control" name="submit" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </form>
    </li>
</ul>