<h1 id="module-title">
    {{ modulo.nombre }}
</h1>
{% if modulo.enlaces | length > 0 %}
    <div class="col-lg-12" id="modulos">
        <div class="col-lg-12">
            {% for enlace in modulo.enlaces %}
                <div style="overflow: hidden; padding: 5px;" class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                    <a href="{{ enlace.enlace }}" class="modulo principal col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 5px;">
                        <img src="{{ asset('assets/zondicons/' ~ enlace.icon ~ '.svg') }}">
                        <h5 class="modulo-enlace" style="margin-top: 0">{{ enlace.nombre }}</h5>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <h4 class="alert alert-info">No hay funcionalidades que mostrar</h4>
{% endif %}