<!DOCTYPE html>

<title>New Prueba</title>

{% block body %}
    <h1>Create new Prueba</h1>

    {{ include('prueba/_form.html.twig') }}

    <a href="{{ path('prueba_index') }}">back to list</a>
{% endblock %}
