{% extends '_mdb/mdb_base.html.twig' %}

{% block pagetop_fluid %}
    {% set options = "" %}
    {{ include ("_mdb/mdb_page_top_section.html.twig", {
        'title' : 'Equipos a entregar',
        'link' : {
            'ops' : {
                'print' : is_granted('ROLE_RECEPCIONISTA') ? '' : '#',
                'export' : is_granted('ROLE_RECEPCIONISTA') ? '' : '#',
                'import' : is_granted('ROLE_RECEPCIONISTA') ? '' : '#'
            }
        }
    }) }}
{% endblock %}

{% block body_fluid %}
<div class="white">
    {{ include('orden_trabajo/index-Table.html.twig') }}
</div>
{{ include('_mdb/mdb_index_delete_modal.html.twig') }}
{% endblock %}
